<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    </head>


    <div class = "container mt-5">
        <div class = "row no-gutters">

            <div class = "col-md-6 offset-md-3 text-center">
                <h2>Your Grade Is:</h2>
                <h1>{{EssayScore}}</h1>
                <muted><h5>(Scores range from A to D)</h5></muted>
                <br>
               <a href = "/"><button type="button" class="btn btn-secondary">Back to Home</button></a>
                <br><br>
            </div>
        </div>
    </div>
</html>