<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">    </head>


    <div class="jumbotron d-flex align-items-center min-vh-100 border-style-solid">
        <div class="container text-center">
            <h1>
                The Autograder™
            </h1>
            <h3>
              <small class="text-muted">It Grades Essays! (Sorta) </small>
            </h3>
            <br>
            <a href = "grader/"> <button type="button" class="btn btn-primary">Upload Here</button></a>

        </div>
    </div>
    <div class = "container text-center">
       <small><i><b> © a software company, 2020 </b></i></small>
    </div>



</html>